body {
    display: flex;
    justify-content: center;
}

button {
    height: 65px;
    width: 100%;
}

.display {
    background-color: rgba(128, 128, 128, 0.62);
    align-items: center;
    color: white;
    justify-content: flex-end;;
    height: 50px;
    width: 400px;
    padding: 15px;
    display: flex;
}

.number-display {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
}

.sum-display {
    padding-bottom: 15px;
    font-size: 20px;
    height: 30px;
}

.sum-display, .messages{
    margin-top: 20px;
    width: 400px;
}

.btn-grp {
    display: grid;
    width: 400px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

}

.clear-key, .delete-key {
    display: flex;
    grid-column: span 2;
    width: 100%;

}

.calc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.messages {
    height: 300px;
}

